:root {
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #fff5f6;
  --mobile-bg-color: #e17992;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --primary-gray-txt-color: #907e82;
  --primary-accent-color: #d41443;
  --secondary-accent-color: #ffa5ba;
  --hover-gray-button-color: #ecebeb;

  --hero-bg-color: #ffb8ca;

  --products-ice-cream-color: #ffb8ca;
  --products-ice-cofee-color: #f0d1a5;
  --products-milkshakes-color: #c2e297;

  --reviews-dot-color: #c7133e;
  --reviews-house-color: #d31342;
  --reviews-gray-dot-color: #d9d9d9;

  --contacts-cafe-color: #f0d1a5;
  --contacts-food-truck-color: #c2e297;
  --contacts-underline-color: #e1e1e1;
}

html {
  box-sizing: border-box;
}

.container {
  @include mq(mobile-only) {
    padding: 0 20px;
  }
  @include mq(mobile) {
    width: 480px;
    padding: 0 20px;
  }
  @include mq(tablet) {
    width: 768px;
    padding: 0 35px;
  }
  @include mq(desktop) {
    width: 1280px;
    padding: 0 115px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}
img {
  display: block;
}
p {
  margin: 0px;
}
body {
  font-family: 'DM Sans', sans-serif, 'Titan One';
  background-color: var(--primary-bg-color);
  font-size: 14px;
  line-height: 1.2;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}
