<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Our Advantages</h2>
    <ul class="advantages_card-set">
      <li class="advantages_item">
        <img
          srcset="
            ../src/images/advantages/advantages-pic-1.png    1x,
            ../src/images/advantages/advantages-pic-1-2x.png 2x
          "
          src="../src/images/advantages/advantages-pic-1.png"
          alt="A busket with milk"
          width="33"
          height="50"
        />
        <p class="advantages_title">721</p>
        <p class="advantages_description">
          Strawberry mint strawberry french vanilla cookies and cream coffee.
        </p>
      </li>
      <li class="advantages_item">
        <img
          srcset="
            ../src/images/advantages/advantages-pic-2.png    1x,
            ../src/images/advantages/advantages-pic-2-2x.png 2x
          "
          src="../src/images/advantages/advantages-pic-2.png"
          alt="A busket with apples"
          width="50"
          height="50"
        />
        <p class="advantages_title">16kg</p>
        <p class="advantages_description">Coffee chocolate mint cookies and cream, cookies.</p>
      </li>
      <li class="advantages_item">
        <img
          srcset="
            ../src/images/advantages/advantages-pic-3.png    1x,
            ../src/images/advantages/advantages-pic-3-2x.png 2x
          "
          src="../src/images/advantages/advantages-pic-3.png"
          alt="A heart"
          width="44"
          height="50"
        />
        <p class="advantages_title">84</p>
        <p class="advantages_description">
          Cookies and cream coffee French vanilla neopolitan rocky coffee chocolate.
        </p>
      </li>
    </ul>
  </div>
</section>
