<section class="section__footer">
  <div class="container container__footer">
    <div class="footer__tablet-wrap">
      <div class="footer__thumb-text">
        <p class="footer__text">homemade ice cream made</p>
        <h2 class="footer__title">with passion</h2>
      </div>
      <div class="footer__thumb-conect">
        <ul class="footer__social-list">
          <li>
            <a href="https://github.com/" target="_blank"
              ><svg class="footer__social-icon" width="32" height="32">
                <use href="images/contacts/symbol-defs.svg#icon-github"></use></svg
            ></a>
          </li>
          <li>
            <a href="https://telegram.org/" target="_blank"
              ><svg class="footer__social-icon" width="32" height="32">
                <use href="images/contacts/symbol-defs.svg#icon-telegram"></use></svg
            ></a>
          </li>
          <li>
            <a href="https://facebook.com/" target="_blank"
              ><svg class="footer__social-icon" width="32" height="32">
                <use href="images/contacts/symbol-defs.svg#icon-facebook"></use></svg
            ></a>
          </li>
        </ul>
        <div>
          <h3 class="footer__tel-text">
            Feel free to contact
            <span class="footer__tel"><a href="tel:+610383766284">+61 (0) 383 766 284</a></span>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__rights">
    <p class="footer__rights-text">&#169;2019 - IceCream. All Rights Reserved.</p>
  </div>
</section>
