<section class="main-gallery">
  <div class="container">
    <h2 class="section__title--gallery">Gallery</h2>
    <div class="gallery gallery--bp">
      <div class="gallery__columm gallery__columm--1">
        <div class="gallery__link">
          <a href="./images/gallery/gallery_1.jpg"
            ><img class="gallery__img" src="./images/gallery/gallery_mini_1.jpg" alt="Icecream"
          /></a>
        </div>
      </div>
      <div class="gallery__columm gallery__columm--2">
        <div class="gallery__link">
          <a href="./images/gallery/gallery_2.jpg"
            ><img class="gallery__img" src="./images/gallery/gallery_mini_2.jpg" alt="Icecream"
          /></a>
        </div>
        <div class="gallery__link">
          <a href="./images/gallery/gallery_3.jpg"
            ><img class="gallery__img" src="./images/gallery/gallery_mini_3.jpg" alt="Icecream"
          /></a>
        </div>
      </div>
      <div class="gallery__columm gallery__columm--3">
        <div class="gallery__link">
          <a href="./images/gallery/gallery_4.jpg"
            ><img class="gallery__img" src="./images/gallery/gallery_mini_4.jpg" alt="Icecream"
          /></a>
        </div>

        <div class="gallery__link gallery__link--small">
          <a href="./images/gallery/gallery_5.jpg"
            ><img class="gallery__img" src="./images/gallery/gallery_mini_5.jpg" alt="Icecream"
          /></a>
        </div>
      </div>
      <div class="gallery__columm gallery__columm--4">
        <div class="gallery__link">
          <a href="./images/gallery/gallery_6.jpg"
            ><img class="gallery__img" src="./images/gallery/gallery_mini_6.jpg" alt="Icecream"
          /></a>
        </div>
        <div class="gallery__link">
          <a href="./images/gallery/gallery_7.jpg"
            ><img class="gallery__img" src="./images/gallery/gallery_mini_7.jpg" alt="Icecream"
          /></a>
        </div>
      </div>
      <div class="gallery__columm gallery__columm--5">
        <div class="gallery__link">
          <a href="./images/gallery/gallery_8.jpg"
            ><img class="gallery__img" src="./images/gallery/gallery_mini_8.jpg" alt="Icecream"
          /></a>
        </div>
        <div class="gallery__link">
          <a href="./images/gallery/gallery_9.jpg"
            ><img class="gallery__img" src="./images/gallery/gallery_mini_9.jpg" alt="Icecream"
          /></a>
        </div>
      </div>
      <div class="gallery__columm gallery__columm--6">
        <div class="gallery__link">
          <a href="./images/gallery/gallery_10.jpg"
            ><img class="gallery__img" src="./images/gallery/gallery_mini_10.jpg" alt="Icecream"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>
