<section class="main-gallery">
  <div class="container">
    <div class="gallery">
      <a
        class="gallery__link"
        href="https://marketplace.canva.com/EAELa9drBoo/1/0/1600w/canva-%D1%80%D0%B0%D0%B4%D1%83%D0%B3%D0%B0-%D0%B3%D1%80%D0%B0%D0%B4%D0%B8%D0%B5%D0%BD%D1%82%D0%BD%D1%8B%D0%B9-%D1%80%D0%BE%D0%B7%D0%BE%D0%B2%D1%8B%D0%B9-%D0%B8-%D1%84%D0%B8%D0%BE%D0%BB%D0%B5%D1%82%D0%BE%D0%B2%D1%8B%D0%B9-zoom-%D0%B2%D0%B8%D1%80%D1%82%D1%83%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9-%D1%84%D0%BE%D0%BD-gT1nLrpMCDA.jpg"
        ><img
          src="https://img.freepik.com/free-vector/neon-lights-background-theme_52683-44625.jpg?size=626&ext=jpg"
          alt=""
          title=""
      /></a>
      <a
        class="gallery__link"
        href="https://i.pinimg.com/736x/b3/a6/32/b3a632a5547d22c553075514add449db.jpg"
        ><img
          src="https://img.freepik.com/free-vector/neon-lights-background-theme_52683-44625.jpg?size=626&ext=jpg"
          alt=""
          title=""
      /></a>
      <a class="gallery__link" href="http://www.rosphoto.com/images/u/articles/1510/4_8.jpg"
        ><img
          src="https://img.freepik.com/free-vector/neon-lights-background-theme_52683-44625.jpg?size=626&ext=jpg"
          alt=""
          title=""
      /></a>
    </div>
  </div>
</section>
