<section class="main-gallery">
  <div class="container">
    <div class="gallery">
      <div class="gallery__columm">
        <a class="gallery__link" href="./images/gallery/gallery_1.jpg"
          ><img src="./images/gallery/gallery_mini_1.jpg" alt="" title=""
        /></a>
      </div>
      <div class="gallery__columm">
        <a class="gallery__link" href="./images/gallery/gallery_2.jpg"
          ><img src="./images/gallery/gallery_mini_2.jpg" alt="" title=""
        /></a>
        <a class="gallery__link" href="./images/gallery/gallery_3.jpg"
          ><img src="./images/gallery/gallery_mini_3.jpg" alt="" title=""
        /></a>
      </div>
      <div class="gallery__columm">
        <a class="gallery__link" href="./images/gallery/gallery_4.jpg"
          ><img src="./images/gallery/gallery_mini_4.jpg" alt="" title=""
        /></a>
        <a class="gallery__link" href="./images/gallery/gallery_5.jpg"
          ><img src="./images/gallery/gallery_mini_5.jpg" alt="" title=""
        /></a>
      </div>
      <div class="gallery__columm">
        <a class="gallery__link" href="./images/gallery/gallery_6.jpg"
          ><img src="./images/gallery/gallery_mini_6.jpg" alt="" title=""
        /></a>
        <a class="gallery__link" href="./images/gallery/gallery_7.jpg"
          ><img src="./images/gallery/gallery_mini_7.jpg" alt="" title=""
        /></a>
      </div>
      <div class="gallery__columm">
        <a class="gallery__link" href="./images/gallery/gallery_8.jpg"
          ><img src="./images/gallery/gallery_mini_8.jpg" alt="" title=""
        /></a>
        <a class="gallery__link" href="./images/gallery/gallery_9.jpg"
          ><img src="./images/gallery/gallery_mini_9.jpg" alt="" title=""
        /></a>
      </div>
      <div class="gallery__columm">
        <a class="gallery__link" href="./images/gallery/gallery_10.jpg"
          ><img src="./images/gallery/gallery_mini_10.jpg" alt="" title=""
        /></a>
      </div>
    </div>
  </div>
</section>
