<section class="hero" id="hero">
    <div class="container">
      <div class="hero-wrapper">
        <h1 class="hero-wrapper__hero-header animate__animated animate__jackInTheBox">
          ice cream made with
          <span class="hero-wrapper__hero-header_accent">passion</span>
        </h1>
        <div class="hero-wrapper__header-numbers">
          <div class="hero-wrapper__header-digit hero-wrapper__header-digit_mod">
            16<span class="hero-wrapper__numbers-span">cafes</span>
          </div>
          <div class="hero-wrapper__header-digit_mod">
            23<span class="hero-wrapper__numbers-span">food trucks</span>
          </div>
        </div>
      </div>
      <div class="button-block">
        <a href="#products" class="button-block__products-btn button-block__products-btn_mod">Products</a>
        <a href="#about" class="button-block__about-btn button-block__products-btn_mod">How it`s made?</a>
      </div>
      <div class="description-hero">
        <p class="description-hero__text">
          Cookies and cream pistachio strawberry dark chocolate, vanilla mint chocolate chip rocky
          road. French vanilla.
        </p>
        <button class="description-hero__button"></button>
      </div>
    </div>
  </section>
  