<section class="hero" id="hero">
    <div class="container">
      <div class="hero_wrapper">
        <h1 class="hero_header">
          ice cream made with
          <span class="hero_header-accent">passion</span>
        </h1>
        <div class="hero_header-numbers">
          <div class="hero_header-numbers_first hero_header-numbers_mod">
            16<span class="hero_header-numbers_span">cafes</span>
          </div>
          <div class="hero_header-numbers_second hero_header-numbers_mod">
            23<span class="hero_header-numbers_span">food trucks</span>
          </div>
        </div>
      </div>
      <div class="button_block">
        <a href="#products" class="button_block-products_btn hero_btn">Products</a>
        <a href="#about" class="button_block-about_btn hero_btn">How it`s made?</a>
      </div>
      <div class="description_hero">
        <p class="description_hero-text">
          Cookies and cream pistachio strawberry dark chocolate, vanilla mint chocolate chip rocky
          road. French vanilla.
        </p>
        <button class="description_hero-button"></button>
      </div>
    </div>
  </section>
  