<section class="products">
  <div class="container products__container">
    <p>100% natural</p>
    <h2 class="products__main-title">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <article class="products__card products__card--ice-cream">
          <div class="products__card-content">
            <h3 class="products__title products__title--ice-cream">ice cream</h3>
            <div class="products__icon">
              <img
                src="./images/products/products-icon.png"
                alt="Button with arrow"
                width="26"
                height="6"
                loading="lazy"
              />
            </div>
            <p class="products__text">
              Vanilla coffee pistachio rocky road mint chocolate chip strawberry cookies and cream
              dark chocolate mint cake batter. French vanilla chocolate.
            </p>

            <button class="products__button" type="button">
              <img
                src="./images/products/products-button.png"
                alt="Button with arrow"
                width="40"
                height="40"
                loading="lazy"
              />
            </button>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="products__card products__card--ice-coffee">
          <div class="products__card-content">
            <h3 class="products__title products__title--ice-coffee">ice coffee</h3>
            <div class="products__icon">
              <img
                src="./images/products/products-icon.png"
                alt="Button with arrow"
                width="26"
                height="6"
                loading="lazy"
              />
            </div>
            <p class="products__text">
              Pistachio vanilla coffee rocky road mint chocolate chip strawberry cookies and cream
              dark chocolate mint cake batter. Chocolate french vanilla.
            </p>

            <button class="products__button" type="button">
              <img
                src="./images/products/products-button.png"
                alt="Button with arrow"
                width="40"
                height="40"
                loading="lazy"
              />
            </button>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="products__card products__card--milkshake">
          <div class="products__card-content">
            <h3 class="products__title products__title--milkshake">milkshakes</h3>
            <div class="products__icon">
              <img
                src="./images/products/products-icon.png"
                alt="Button with arrow"
                width="26"
                height="6"
                loading="lazy"
              />
            </div>
            <p class="products__text">
              Vanilla coffee pistachio rocky road mint chocolate chip strawberry cookies and cream
              dark chocolate mint cake batter. French vanilla chocolate.
            </p>

            <button class="products__button" type="button">
              <img
                src="./images/products/products-button.png"
                alt="Button with arrow"
                width="40"
                height="40"
                loading="lazy"
              />
            </button>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
