<section class="products">
  <div class="container products__container">
    <p>100% natural</p>
    <h2 class="products__main-title">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <article class="products__card products__card--ice-cream">
          <div class="products__card-content">
            <h3 class="products__title">ice cream</h3>
            <svg class="products__card-icon" width="111" height="111">
              <use href="./images/products/products-icon.svg#products-icon"></use>
            </svg>
            <p class="products__text">
              Chocolate chip Cookies and cream cake batter, chocolate chip chocolate chip cookie
              dough peanut butter strawberry strawberry vanilla cake batter.
            </p>

            <button class="products__button" type="button">
              <img
                src="./images/products/products-button.png"
                alt="Button with arrow"
                width="40"
                height="40"
                loading="lazy"
              />
            </button>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="products__card products__card--ice-coffee">
          <div class="products__card-content">
            <h3 class="products__title">ice coffee</h3>
            <p class="products__text">
              Oreos cherry chocolate chips salted caramel syrup, coffee chocolate chip cookie dough
              whipped cream whipped cream. Blueberries strawberry peanut butter.
            </p>
          </div>
          <button class="products__button" type="button">
            <img
              src="./images/products/products-button.png"
              alt="Button with arrow"
              width="40"
              height="40"
              loading="lazy"
            />
          </button>
        </article>
      </li>
      <li class="products__item">
        <article class="products__card products__card--milkshake">
          <div class="products__card-content">
            <h3 class="products__title">milkshakes</h3>
            <p class="products__text">
              Cookies and cream neopolitan strawberries, cookie dough bananas rainbow sprinkles
              chocolate chip cookie dough chocolate chips french vanilla mint almonds.
            </p>
          </div>
          <button class="products__button" type="button">
            <img
              src="./images/products/products-button.png"
              alt="Button with arrow"
              width="40"
              height="40"
              loading="lazy"
            />
          </button>
        </article>
      </li>
    </ul>
  </div>
</section>
