<section>
  <div class="container">
    <p>100% natural</p>
    <h2 class="products__main-title">products</h2>
    <ul>
      <li>
        <div>
          <h3 class="products__title">ice cream</h3>
          <p class="products__text">
            Chocolate chip Cookies and cream cake batter, chocolate chip chocolate chip cookie dough
            peanut butter strawberry strawberry vanilla cake batter.
          </p>
          <button class="products__button" type="button"></button>
        </div>
      </li>
      <li>
        <div>
          <h3 class="products__title">ice coffee</h3>
          <p class="products__text">
            Oreos cherry chocolate chips salted caramel syrup, coffee chocolate chip cookie dough
            whipped cream whipped cream. Blueberries strawberry peanut butter.
          </p>
          <button class="products__button" type="button"></button>
        </div>
      </li>
      <li>
        <div>
          <h3 class="products__title">milkshakes</h3>
          <p class="products__text">
            Cookies and cream neopolitan strawberries, cookie dough bananas rainbow sprinkles
            chocolate chip cookie dough chocolate chips french vanilla mint almonds.
          </p>
          <button class="products__button" type="button"></button>
        </div>
      </li>
    </ul>
  </div>
</section>
