<section class="reviews" id="customer-reviews">
  <div class="container reviews__container">
    <h2 class="reviews__title visually-hiden">Customer reviews</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture class="swiper-slide__img">
            <source
              srcset="
                ./images/reviews/img-review-1-1x.png 1x,
                ./images/reviews/img-review-1-2x.png 2x
              "
            />
            <img src="./images/reviews/img-review-1-1x.png" alt="Emily's photo" />
          </picture>
          <div class="slider-slide__wrapp">
            <div class="slider-slide__meta">
              <p class="slider-slide__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <h3 class="slider-slide__subtitle" lang="en">Emily, Los Angeles</h3>
        </div>
        <div class="swiper-slide">
          <picture class="swiper-slide__img">
            <source
              srcset="
                ./images/reviews/img-review-2-1x.png 1x,
                ./images/reviews/img-review-2-2x.png 2x
              "
            />
            <img src="./images/reviews/img-review-2-1x.png" alt="Rose's photo" />
          </picture>
          <div class="slider-slide__wrapp">
            <div class="slider-slide__meta">
              <p class="slider-slide__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <h3 class="slider-slide__subtitle">Rose, Austin</h3>
        </div>
        <div class="swiper-slide">
          <picture class="swiper-slide__img">
            <source
              srcset="
                ./images/reviews/img-review-3-1x.png 1x,
                ./images/reviews/img-review-3-2x.png 2x
              "
            />
            <img src="./images/reviews/img-review-3-1x.png" alt="Mary's photo" />
          </picture>
          <div class="slider-slide__wrapp">
            <div class="slider-slide__meta">
              <p class="slider-slide__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <h3 class="slider-slide__subtitle" lang="en">Mary, Washington, D.C.</h3>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
