.about .container {
  margin: 0 auto;
}

.about {
  text-align: center;
  background-color: var(--secondary-bg-color);
  @include mq(mobile-only) {
    padding-top: 125px;
    padding-bottom: 39px;
    background-image: url(../images/about/about-bgd-mob.png), linear-gradient(#fff5f6, #fff5f6);
    background-repeat: no-repeat;
    background-position: bottom 30px left 0, center;
    background-size: contain;
    @include retina {
      background-image: url(../images/about/about-bgd-mob-x2.png), linear-gradient(#fff5f6, #fff5f6);
    }
  }
  @include mq(tablet) {
    padding-top: 130px;
    padding-bottom: 66px;
  }
  @include mq(desktop) {
    background-image: url(../images/about/about-bgd-desktop.png), linear-gradient(#fff5f6, #fff5f6);
    background-repeat: no-repeat;
    background-position: bottom 30px left 0, center;
    background-size: contain;
    padding-top: 125px;
    padding-bottom: 51px;
    @include retina {
      background-image: url(../images/about/about-bgd-desktop-x2.png),
        linear-gradient(#fff5f6, #fff5f6);
    }
  }
}

.about_header {
  font-family: Titan One;
  text-align: center;
  text-transform: uppercase;
  // padding-top: 125px;
}

.about_title {
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-accent-color);
  @include font($fw: 400, $fz: 18px, $lh: 1.17);
  margin-bottom: 15px;

  @include mq(tablet) {
    @include font($fw: 400, $fz: 25px, $lh: 1.15);
    margin-bottom: 16px;
  }
  @include mq(desktop) {
    @include font($fw: 400, $fz: 30px, $lh: 1.13, $ls: 0.04em);
  }
}

.about_title-description {
  color: var(--primary-accent-color);
  @include font($fw: 400, $fz: 34px, $lh: 1.15, $ls: 0.04em);
  margin-bottom: 26px;

  @include mq(tablet) {
    @include font($fw: 400, $fz: 48px, $lh: 1.15, $ls: 0.04em);
    margin-bottom: 91px;
  }
  @include mq(desktop) {
    @include font($fw: 400, $fz: 58px, $lh: 1.14, $ls: 0.06em);
    margin-bottom: 55px;
  }
}

.about_body {
  @include mq(mobile) {
  }
  @include mq(tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.about_picture {
  display: inline-block;
  align-items: center;
  margin-bottom: 38px;
  @include mq(tablet) {
    position: relative;
    width: 340px;
    height: 340px;
    margin-bottom: 0;
  }
  @include mq(desktop) {
    width: 516px;
    height: 516px;
    padding-bottom: 0;
  }
}

.about_picture-position {
  @include mq(tablet-only) {
    position: absolute;
    left: 0;
    top: -75px;
  }
}

.about_description {
  display: inline-block;
  text-align: start;
  font-family: DM Sans;
  @include font($fw: 500, $fz: 12px, $lh: 1.6);
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 17px;
  @include mq(tablet) {
    width: 340px;
    margin-left: 17px;
    margin-bottom: 0;
    margin-right: 0;
  }
  @include mq(desktop) {
    width: 463px;
    margin-left: 74px;
  }
}

.about_description-main {
  color: var(--primary-black-color);
  margin-bottom: 31px;
  @include mq(tablet) {
    @include font($fw: 500, $fz: 14px, $lh: 1.8);
    width: 340px;
    margin-bottom: 33px;
  }
  @include mq(desktop) {
    @include font($fw: 500, $fz: 16px, $lh: 1.8, $ls: 0.04em);
    width: 463px;
  }
}

.about_description-secondary {
  color: var(--primary-gray-txt-color);
  margin-bottom: 17px;
  @include mq(tablet) {
    @include font($fw: 500, $fz: 14px, $lh: 1.8, $ls: 0.04em);
    margin-bottom: 62px;
  }
  @include mq(desktop) {
    @include font($fw: 500, $fz: 14px, $lh: 1.9, $ls: 0.04em);
    margin-bottom: 45px;
  }
}

.about_button {
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq(tablet) {
    display: block;
    margin-left: 0;
  }

  width: 176px;
  height: 44px;
  font-family: DM Sans;
  @include font($fw: 700, $fz: 14px, $lh: 1.3);
  color: var(--primary-accent-color);
  background: #ffffff;
  border-radius: 22px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    background: #ecebeb;
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.1);
  }
}

.about_button-icon {
  stroke: var(--primary-accent-color);
  margin-left: 14px;
}

// MODAL WINDOW ABOUT SECTION

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(60, 13, 15, 0.3);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100vw;
  min-height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;

  font-family: DM Sans;
  @include font($fw: 500, $fz: 12px, $lh: 1.6);
  background-color: var(--secondary-bg-color);
  padding: 40px 30px;

  @include mq(mobile-only) {
    width: 90vw;
    min-height: 400px;
  }

  @include mq(tablet) {
    max-width: 700px;
    max-height: 400px;
    @include font($fw: 500, $fz: 14px, $lh: 1.8);
    padding: 60px 60px;
  }
  @include mq(desktop) {
    max-width: 1050px;
    max-height: 480px;
    @include font($fw: 500, $fz: 16px, $lh: 1.8, $ls: 0.04em);
    padding: 60px 50px;
  }
}

.modal-about_description-first {
  color: var(--primary-black-color);
  margin-bottom: 30px;

  @include mq(desktop) {
    margin-bottom: 40px;
  }
}

.modal-about_description-secondary,
.modal-about_description-third {
  color: var(--primary-gray-txt-color);
  margin-bottom: 30px;

  @include mq(desktop) {
    margin-bottom: 40px;
  }
}

.modal-about_description-third {
  margin-bottom: 0;
}

.modal-about_close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  fill: var(--primary-black-color);
  background-color: var(--secondary-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &:active {
    fill: var(--secondary-bg-color);
    background-color: var(--secondary-accent-color);
    border: border 1px solid var(--secondary-accent-color);
  }
}
