.products {
  background-color: var(--primary-white-color);
  padding-top: 121px;
  padding-bottom: 98px;
  @include mq(tablet) {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @include mq(desktop) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.products__container {
  margin: 0 auto;
}

.products__container > p {
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-accent-color);
  @include mq(tablet) {
    font-size: 26px;
    line-height: 1.15;
  }
  @include mq(desktop) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products__main-title {
  font-family: Titan One;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--primary-accent-color);
  margin-bottom: 144px;
  @include mq(tablet) {
    font-size: 48px;
    line-height: 1.15;
    margin-bottom: 150 px;
  }
  @include mq(desktop) {
    font-size: 58px;
    line-height: 1.13;
    margin-bottom: 259px;
  }
}

.products__list {
  @include mq(mobile-only) {
    margin-bottom: -129px;
  }
  @include mq(tablet) {
    display: flex;
    margin-right: -20px;
  }
  @include mq(desktop) {
    display: flex;
    margin-right: -27px;
  }
}

.products__title {
  font-family: Titan One;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  position: relative;

  @include mq(desktop) {
    font-size: 30px;
    line-height: 1.13;
  }
}
.products__text {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  @include mq(tablet) {
    line-height: 1.76;
  }
  @include mq(desktop) {
    font-size: 16px;
    line-height: 1.76;
  }
}
.products__card {
  height: 100%;
  max-width: 480px;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  border-radius: 24px;
  padding: 161px 53px 41px 53px;

  @include mq(tablet) {
    width: 220px;
    padding: 152px 11px 40px 11px;
  }
  @include mq(desktop) {
    display: flex;
    width: 335px;
    padding: 163px 60px 50px 60px;
  }
}
.products__card--ice-cream {
  background-color: var(--products-ice-cream-color);
}

.products__card--ice-coffee {
  background-color: var(--products-ice-cofee-color);
}

.products__card--milkshake {
  background-color: var(--products-milkshakes-color);
}

.products__card::not(last-child) {
  margin-bottom: 16px;
  @include mq(tablet) {
    margin-bottom: 0x;
  }
  @include mq(desktop) {
    margin-bottom: 0x;
  }
}

.products__item {
  flex-wrap: nowrap;
  @include mq(mobile-only) {
    margin-bottom: 129px;
  }

  @include mq(tablet) {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    width: calc(100% / 3 - 20px);
    margin-right: 20px;
  }

  @include mq(desktop) {
    margin: 0;
    flex-wrap: wrap;
    width: calc(100% / 3 - 27px);
    margin-right: 27px;
  }
}

// .products__item::not(last-child) {
//   margin-bottom: 129px;
//   @include mq(tablet) {
//     margin-bottom: 0;
//   }
//   @include mq(desktop) {
//     margin-bottom: 0;
//   }
// }

.products__button {
  display: inline-block;
  border: none;
  background-color: transparent;
  padding-top: 30px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
}

.products__title--ice-cream::before {
  content: '';
  background-image: url('../images/products/products-ice-cream-sm.png');
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -110%);
  width: 249px;
  height: 252px;
  margin-bottom: 31px;
  background-repeat: no-repeat;
  @include mq(retina) {
    background-image: url('../images/products/products-ice-cream-sm_ret.png');
    background-repeat: no-repeat;
    background-size: 249px 252px;
  }
  @include mq(tablet) {
    background-image: url('../images/products/products-ice-cream-md.png');
    width: 220px;
    height: 226px;
    @include mq(retina) {
      background-image: url('../images/products/products-ice-cream-md_ret.png');
      background-repeat: no-repeat;
      background-size: 220px 226px;
    }
  }
  @include mq(desktop) {
    background-image: url('../images/products/products-ice-cream-lg.png');
    width: 335px;
    height: 335px;
    @include mq(retina) {
      background-image: url('../images/products/products-ice-cream-lg_ret.png');
      background-repeat: no-repeat;
      background-size: 335px 335px;
    }
  }
}

.products__title--ice-coffee::before {
  content: '';
  background-image: url('../images/products/products-ice-coffee-sm.png');
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -110%);
  width: 249px;
  height: 252px;
  margin-bottom: 31px;
  background-repeat: no-repeat;
  @include mq(retina) {
    background-image: url('../images/products/products-ice-coffee-sm_ret.png');
    background-repeat: no-repeat;
    background-size: 249px 252px;
  }
  @include mq(tablet) {
    background-image: url('../images/products/products-ice-coffee-md.png');
    width: 220px;
    height: 233px;
    @include mq(retina) {
      background-image: url('../images/products/products-ice-coffee-md_ret.png');
      background-repeat: no-repeat;
      background-size: 220px 233px;
    }
  }
  @include mq(desktop) {
    background-image: url('../images/products/products-ice-coffee-lg.png');
    width: 337px;
    height: 335px;
    @include mq(retina) {
      background-image: url('../images/products/products-ice-coffee-lg_ret.png');
      background-repeat: no-repeat;
      background-size: 337px 335px;
    }
  }
}

.products__title--milkshake::before {
  content: '';
  background-image: url('../images/products/products-milkshake-sm.png');
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -110%);
  width: 249px;
  height: 252px;
  background-repeat: no-repeat;
  @include mq(retina) {
    background-image: url('../images/products/products-milkshake-sm_ret.png');
    background-repeat: no-repeat;
    background-size: 249px 252px;
  }
  @include mq(tablet) {
    background-image: url('../images/products/products-milkshake-md.png');
    width: 220px;
    height: 224px;
    @include mq(retina) {
      background-image: url('../images/products/products-milkshake-md_ret.png');
      background-repeat: no-repeat;
      background-size: 220px 224px;
    }
  }
  @include mq(desktop) {
    background-image: url('../images/products/products-milkshake-lg.png');
    width: 335px;
    height: 335px;
    @include mq(retina) {
      background-image: url('../images/products/products-milkshake-lg_ret.png');
      background-repeat: no-repeat;
      background-size: 335px 335px;
    }
  }
}

.products__icon {
  display: block;
  margin: 0 auto;
  padding: 30px 0;
}

.products__icon img {
  margin: 0 auto;
}
